NEXT_PUBLIC_SITE_NAME="Royal Paw Spa"
NEXT_PUBLIC_SITE_URL="https://yourdomain.com"
NEXT_PUBLIC_MOEGO_BOOKING_URL="https://booking.moego.pet/ol/book?name=Royalpawspa"
NOTION_TOKEN=""
NOTION_SITE_DATABASE_ID=""
NOTION_SERVICES_DATABASE_ID=""
NOTION_FAQ_DATABASE_ID=""
